*{
    margin: 0;
    padding: 0;
}

#bgImage{
    background-image: url('images/doctorbg.jpg');
    background-color: brown;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header{
    width: 100%;
    height: 80px;
    
}

.logo{
    width: 30%;
    height: 80px;
    float: left;
    position: relative;
}

.logo img{
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 35%;
    
}

.logo h1{
    color: tomato;
    text-align: center;
    margin-top: 20px;
    margin-left: 20%;
    position: absolute;
    z-index: 1;
}

.nav{
    width: 50%;
    line-height: 80px;
    float: left;
    text-align: left;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.nav a{
    text-decoration: none;
    color: tomato;
}

.nav a:hover{
    color: rgb(122, 21, 3);
    border-bottom: 1px solid blueviolet;
}